body{

   display: flex;
   justify-content: center;

   margin-top: 100px;
        
}

.calculadora{

    background-color: yellow;
    color: white;
    
    width: 370px;
    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 20px;

}
.teclado{
    
    width: 450px;
    height: 50px;

    margin-top: 6px;

    display: flex;
    justify-content: center;
    align-items: center;
    
}
.button{
    background-color:black;

    width: 69px;
    height: 40px;

    margin: 4px;
    margin-top: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
    cursor: pointer;
    
}
.tela{
    background-color: black;

    width: 300px;
    height: 100px;
    
    border-radius: 5px;
}



