body{
   display: flex;
   justify-content: center;
   margin-top: 100px;



}

.quadrado-principal{

    background-color: black;
    color: blue;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.teste{
    
    width: 450px;
    height: 50px;
    margin-top: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    background-color: yellow;
    width: 20px;
    height: 40px;
    margin: 6px;
}




